.container{
    margin: 0;
  
}
.col3{
    height: 750px;
    background: #E5E5E5;
    overflow-y: scroll; 
}
.logo{
  padding-left: 20px;
  color: black;
  
}

.cuvette{
    height: 150px;
    background-color: #E5E5E5; ;
}
.Addfile{
    margin-left: 30px;
    
}

.folders{
    /* overflow-y: scroll; */
}